<!DOCTYPE html>
{{template "header"}}
<title>{{.Category.Title}} - 水利设计CMS系统</title>
        <style>            
            .editormd-html-preview {
                width: 100%;
                margin: 0 auto;
            }
        </style>
</head>

<body>
<div class="navbar navba-default navbar-fixed-top">
  <div class="container-fill">{{template "navbar" .}}</div>
</div>

<div class="col-lg-12">
    <h1>{{.Category.Title}}
    <a href="/category/modify?cid={{.Tid}}" class="btn btn-default">修改项目&目录</a>
    </h1>
<!--     <label>项目简介:</label>
         <div id="test-editormd-view2">
          <textarea id="append-test" style="display:none;">{{.Category.Content}}</textarea></div> -->
     <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" 
               href="#collapseOne">
               隐藏/展开项目简介
            </a>
         </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
<!--          <div class="panel-body">
          {{.Category.Content}}
         </div> -->
         <!-- <div class="form-group"> -->
           <!-- <label>项目简介:</label> -->
           <!-- <textarea name="content" cols="30" rows="10" class="form-control" >{{.Category.Content}}</textarea> -->
         <!-- </div> -->
         <div id="test-editormd-view2">
          <textarea id="append-test" style="display:none;">{{.Category.Content}}</textarea>
         </div>
      </div>
   </div>
        <!-- {{.Content}} -->
        <!-- <br />  -->
          
 </div>

<div class="col-lg-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>阶段</th>
        <th>专业</th>
        <th>成果分类</th>
        <th>浏览</th>
        <th>成果数量</th>
        <th>操作</th>
      </tr>
    </thead>

    <tbody>
      {{range $k,$v :=.Categoryjieduan}}
      <tr>
        <th>{{$k}}</th>
        <th>{{.Title}}</th>
                   <th></th>
                   <th></th>
        <th>{{.Views}}</th> 
                   <th></th>
                   <th></th> 
                 {{range $k1,$v1 :=$.Categoryzhuanye}}
                 {{if eq $v.Id $v1.ParentId}}
                 <tr>
                   <th></th>
                   <th></th>
                 <th>{{.Title}}</th>
                 <th></th>
                 <th></th>
                 <th></th>
                 <th></th>
                 </tr>
                 
                 {{range $k2,$v2 :=$.Categorychengguo}}
                 {{if eq $v1.Id $v2.ParentId}}
                 <tr>
                   <th></th>
                   <th></th>
                   <th></th>
                  <th><a href="/category/view_b?id={{.Id}}">{{.Title}}</a></th>
                  <th>{{.Views}}</th>  
                  <th>{{.TopicCount}}</th>                
                  <th>
                  <a href="/category/view_b?id={{.Id}}">显示成果</a>
                  <a href="/category/modify?cid={{.Id}}">修改</a>
                  <a href="/category/delete?cid={{.Id}}">删除</a>
                  </th><!-- <a href="/topic/add?id={{.Id}}">添加成果</a> -->
                 </tr>
                 {{end}}
                 {{end}}
                 {{end}}                 
                 {{end}}                   

      </tr>
      {{end}}

    </tbody>
  </table>
</div>
<script type="text/javascript">
            $(function() {
                var testEditormdView, testEditormdView2;
                // $.get("test.md", function(markdown) {
                    testEditormdView = editormd.markdownToHTML("test-editormd-view", {
                        // markdown        : markdown ,//+ "\r\n" + $("#append-test").text(),
                        //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                        htmlDecode      : "style,script,iframe",  // you can filter tags decode
                        //toc             : false,
                        tocm            : true,    // Using [TOCM]
                        //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
                        //gfm             : false,
                        //tocDropdown     : true,
                        // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                        emoji           : true,
                        taskList        : true,
                        tex             : true,  // 默认不解析
                        flowChart       : true,  // 默认不解析
                        sequenceDiagram : true,  // 默认不解析
                    });
                    
                    //console.log("返回一个 jQuery 实例 =>", testEditormdView);
                    
                    // 获取Markdown源码
                    //console.log(testEditormdView.getMarkdown());
                    
                    //alert(testEditormdView.getMarkdown());
                // });
                    
                testEditormdView2 = editormd.markdownToHTML("test-editormd-view2", {
                    htmlDecode      : "style,script,iframe",  // you can filter tags decode
                    emoji           : true,
                    taskList        : true,
                    tex             : true,  // 默认不解析
                    flowChart       : true,  // 默认不解析
                    sequenceDiagram : true,  // 默认不解析
                });
            });
</script>
</body>
</html>