<!DOCTYPE html>
{{template "header"}}
<title>{{.Category.Title}} - 水利设计CMS系统</title>

<link rel="stylesheet" href="/static/css/celanstyle.css">
<!-- 徽章颜色 RoyalBlue-->
<style>
.accordion h1 {
  margin-top: 0px;
  }
span.badge
{
background-color:#6495ED;
}
</style>


</head>

<body>
<div class="navbar navba-default navbar-fixed-top">
  <div class="container-fill">{{template "navbar" .}}</div>
</div>

<div class="col-lg-12">
  <h1>
    {{.Category.Number}}{{.Category.Title}}
    <a href="/category/modify?cid={{.Tid}}" class="btn btn-default">修改项目</a>
  </h1>


<!--2015-12-28修改掉项目简介为侧边栏中显示      <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" 
               href="#collapseOne">
               隐藏/展开项目简介
            </a>
         </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
         <div id="test-editormd-view2">
          <textarea id="append-test" style="display:none;">{{.Category.Content}}</textarea>
         </div>
      </div>
   </div> -->
</div>

<div class="col-lg-12">
  <div class="container-fluid">
      <div class="col-lg-3">
<aside class="accordion">

             <a href="/category/view?id=1026" target='main'>
               <i class="glyphicon glyphicon-grain">项目简介</i>
             </a>
        {{range $k,$v :=.Categoryjieduan}}
          <h1>
            <!-- <li> -->
            <a href="#{{.Id}}" class="nav-header collapsed" data-toggle="collapse">
              <i class="glyphicon glyphicon-cog"></i>
                <span class="pull-right glyphicon glyphicon-chevron-down"></span>{{.Title}} </a>
            <!-- </li> -->
          </h1>
            <div>
              {{range $k1,$v1 :=$.Categoryzhuanye}}
                {{if eq $v.Id $v1.ParentId}}
            <h2>
              <!-- <li> -->
              <a href="/category/view_3?id={{.Id}}">&nbsp;&nbsp;<i class="glyphicon glyphicon-file"></i><span class="pull-right glyphicon glyphicon-chevron-down"></span>{{.Title}}</a>
              <!-- </li> -->
            </h2>
                      <div>
                       {{range $k2,$v2 :=$.Categorychengguo}}
                          {{if eq $v1.Id $v2.ParentId}}
                            <h3>
                               <!-- <li> -->
                                 <a href="/category/view?id={{.Id}}" target='main'>&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-grain"></i>┗━{{.Title}}<span class="badge">{{.TopicCount}}</span>
                                 </a>
                               <!-- </li> -->
                             </h3>  
                             {{end}}
                          {{end}}
                      </div> 
                {{end}}
              {{end}}
            </div>                   
        {{end}}
    </aside>        
   </div>

      <div class="col-lg-9">
        <iframe src="/category/category_prod_view?id={{.Category.Id}}&title={{.Category.Title}}" name='main' id="iframepage" frameborder="0" width="100%" scrolling="no" marginheight="0" marginwidth="0" onLoad="iFrameHeight()"></iframe>
      </div>    
</div>
</div>




<!-- 自动适应高度 -->
<script type="text/javascript" language="javascript">   
function iFrameHeight() {   
var ifm= document.getElementById("iframepage");   
var subWeb = document.frames ? document.frames["iframepage"].document : ifm.contentDocument;   
if(ifm != null && subWeb != null) {
   ifm.height = subWeb.body.scrollHeight;
   ifm.width = subWeb.body.scrollWidth;
}   
}   
</script>


<!-- <script type="text/javascript">
  $(document).ready(function() {
  $("table").tablesorter();
  // $("#ajax-append").click(function() {
  //    $.get("assets/ajax-content.html", function(html) {
  //     // append the "ajax'd" data to the table body
  //     $("table tbody").append(html);
  //     // let the plugin know that we made a update
  //     $("table").trigger("update");
  //     // set sorting column列号 and direction排序方式, this will sort on the first第一列降序 and third column第三列升序
  //     var sorting = [[2,1],[0,0]];
  //     // sort on the first column
  //     $("table").trigger("sorton",[sorting]);
  //   });
  //   return false;
  // });
});
</script> -->

  <script src="/static/js/jquery-2.1.3.min.js"></script>
  <script src="/static/js/celan.js"></script>
</body>
</html>