<!DOCTYPE html>
{{template "header"}}
<title>{{.Topic.Title}} - 水利设计CMS系统</title>
<style type="text/css">
h3 {line-height: 150%;
  /*color: #DC143C;#000000*/
  color:#FFFFFF;
  background: #4682B4;/*#fff*/
  margin: 10;
  padding: 10;
  font-family: Georgia, Palatino, serif;
  }
</style>
</head>

<body>
<div class="navbar navba-default navbar-fixed-top">
  <div class="container-fill">{{template "navbar" .}}</div>
</div>

<div class="col-md-8 col-md-offset-2">
<!-- 这里添加项目目录树显示 color="#A52A2A"-->
<h3><font size="5" >{{.TopicProj.Title}}</font><font size="4"> » {{.TopicPhase.Title}}</font><font size="4"> » {{.TopicSpec.Title}}</font><font size="5"> » {{.TopicChengguo.Title}}</font></h3>
  <h2>
    {{.Topic.Title}}
    <a href="/topic/modify?tid={{.Tid}}" class="btn btn-default">修改成果</a>
    <a href="/topic/carousel/{{.Tid}}" class="btn btn-default">轮播模式</a>
  </h2>
  {{.Topic.Content}}
  
  <!-- <form name="form" method="post" action="/topic/diary_add"> -->
  <form>
<!--       <input type="hidden" name="tid" value="{{.Topic.Id}}"> -->
  <h5>
    图片：
  <ol>
    {{range .Attachment}}
    <li> <a href={{.Route}}>{{.FileName}}文件大小：{{.FileSize}}KB</a></li>
    <img style="-webkit-user-select: none; cursor: zoom-in;" src="{{.Route}}" width="650"><!--  height="620" -->
      <div class="form-group">
        <label>{{.FileName}}图片说明:</label><br>
    <!-- <input type="hidden" name="aid" value="{{.Id}}"> -->
    {{.Content}}
  </div>
    {{end}}
  </ol>
  </h5>
<!--      <button type="submit" class="btn btn-default">提交日记</button>  -->
     <!-- 上面这行代码用html自己的方式提交 -->
     <!-- 下面这行代码用jquery的方式提交data。当按钮被点击时执行Javascript代码：: -->
     <!-- <button class="btn btn-primary" onclick="myFunction()">提交日记</button> -->
</form>
</div>

<!--<script type="text/javascript">
$(document).ready(function(){
$(function(){
        $("button").click(function(){
        // $("#form").submit(function(){
          var o = {}; //动态的参数o
          var $i = $("input");
              $i.each(function(){
          var name = $(this).attr("name");
          var value = $(this).val();
          o[name] = value; //{}的key用[]来作为变量
           });

            $.ajax({
                type:"post",
                url:"/topic/addtopic3",
                // data:$('#form').serialize(),
                //格式化表单参数或者也可以使用data:{'folder':$('input[name=folder]').val(),'page':$('input[name=page]').val()},
                // data:{'aid':54,'content':55,'aid':56,'content':57},
                data:o,
                datetype:'text',
                success:function(data){//数据提交成功时返回数据
                    alert(data);
                }
            });
            return false;
        });
    });
 });
// $(function(){
//     $('#send').click(function(){
//          $.ajax({
//              type: "GET",
//              url: "test.json",
//              data: {username:$("#username").val(), content:$("#content").val()},
//              dataType: "json",
//              success: function(data){
//                          $('#resText').empty();   //清空resText里面的所有内容
//                          var html = ''; 
//                          $.each(data, function(commentIndex, comment){
//                              html += '<div class="comment"><h6>' + comment['username']
//                                         + ':</h6><p class="para"' + comment['content']
//                                         + '</p></div>';
//                          });
//                          $('#resText').html(html);
//                       }
//          });
//     });
// });

// $.ajax({
//     url: "/topic/addtopic3", type: "POST",
//     data: { id: 2, name: "aaa", tel: "~!@#$%^&*()_+-=<>?|", xxxx: "要多少还可以写多少", encoding: "见鬼去吧。?& :)" },
//     success: function(responseText) {
//         $("#divResult").html(responseText);
//     }
// });
// $("button").click(function(){
//   $.post("demo_test_post.asp",
//   {
//     name:"Donald Duck",
//     city:"Duckburg"
//   },
//   function(data,status){
//     alert("Data: " + data + "\nStatus: " + status);
//   });
// });

</script>-->
<div class="col-lg-8">
  {{$tid:=.Topic.Id}}
  {{$isLogin:=.IsLogin}}
{{range .Replies}}
  <h4>
    {{.Name}}
    <small>{{dateformat .Created "2006-01-02"}}</small>
    {{if $isLogin}}
    <a href="/reply/delete?tid={{$tid}}&rid={{.Id}}">删除</a>
    {{end}}
  </h4>
  {{.Content}}
{{end}}
  <h4>本文回复</h4>
  <form method="post" action="/reply/add">
    <input type="hidden" name="tid" value="{{.Topic.Id}}">
    <div class="form-group">
      <label>显示昵称：</label>
      <input type="text" class="form-control" name="nickname"></div>
    <div class="form-group">
      <label>内容：</label>
      <textarea name="content" id="" cols="30" rows="10" class="form-control"></textarea>
    </div>
    <button class="btn btn-default">提交回复</button>
  </form>
</div>

</body>
</html>