 <!DOCTYPE html>
{{template "header"}}
<title>任务管理 - 档案共享系统</title>
<script type="text/javascript" src="/static/js/moment.min.js"></script>
  <!-- <script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script> -->
<!-- 注意：这个bootstrap的dater插件，只支持jquery-1.11.3.min.js   
其实不是，是因为thead里用了jquery的2个版本，一个是2.1一个是latest。注释掉latest即可。
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" /> -->
<!-- Include Date Range Picker -->
<script type="text/javascript" src="/static/js/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/daterangepicker.css" />

<style type="text/css">
div.task-detail{
        /*height: calc(100% - 40px );*/
       position: absolute;
        right: 10px;
        top: 20px;
        width: 300px;
        background-color: #f0f0f0;
        margin-top: 35px;
        visibility: hidden
}
</style>
</head>

<body>
<div class="navbar navba-default navbar-fixed-top">
  <div class="container-fill">{{template "navbar" .}}</div>
</div>
<html ng-app>

<script type="text/javascript">
// $("p") 选取 <p> 元素。
// $("p.intro") 选取所有 class="intro" 的 <p> 元素。
// $("p#demo") 选取 id="demo" 的第一个 <p> 元素。
// <button type="button" onclick="close1()">Change Content</button>
// var str;
// function close1(str){//这里用close不行，因为这是系统保留名称
    // alert("至少保留一行:"+str);
     //点击某个任务后
 // cktask(task){
    // document.getElementById("tkdetail").style.visibility="visible";//visible
    // document.getElementById("tkdetail").style.visibility="hidden"//visible
    // $("p").remove();
    // document.getElementById("taskdetail").value=str;
    // $("#taskdetail").html("用户名已存在！");
    // return str;
// }
// function showDetail(str){
  // var name=document.getElementById("name");
  //     if (name.value.length==0){
  //       alert("请输入项目名称");
  //       return false;
  //     }
  //     var i=0
  //       for (i=0;i<=obj.length;i++)
  //       {
  //         $("#cars").append('<option value="' + obj[i].Id + '">' + obj[i].Username + '</option>');
  //         $("ul").append("<li>"+obj[i].Username+"</li>");
  //       document.write(obj[i].Username)
  //       document.write("<br />")
  //   alert("至少保留一行");
    // document.getElementById("task-detail").style.visibility="visible";//visible
    // document.getElementById("tkdetail").style.visibility="hidden"//visible
    // $("p").remove();
// }
function hideDetail(){
  document.getElementById("task-detail").style.visibility="hidden"
}
// <button type="button" class="close"  id="2">右移1 </button>
// $(document).ready(function(){
//   $("#2").click(function(){
//     $("div#13").remove();
//   });
// });

</script>

<body >
<div class='container' >
  <h1>ToDo
  <img class='spinner' src='/static/img/spinner.gif' alt='Loading' /></h1>
<div class="col-sm-12">
  <form class="form-inline" method="get" action="/todo/addtask" enctype="multipart/form-data">
    <div class="form-group">
      <label for="taskTitle">标题</label>
      <input type="text" class="form-control" id="tasktitle" placeholder="这里输入标题" name="title" #title></div>
    <div class="form-group">
      <label for="taskNote">内容</label>
      <input type="text" class="form-control" id="taskNote" placeholder="任务描述内容" name="content" #content></div>
     <!-- <div class="form-group"> -->
<!--        <input type="text" name="daterange" value="01/01/2015 - 01/31/2015" />     
       <script type="text/javascript">
$(function() {
    $('input[name="daterange"]').daterangepicker();
});
</script> -->
     <!-- </div> -->
<div class="form-group">
<label for="taskNote">任务周期</label>
  <input type="text" class="form-control" name="datefilter" value="" placeholder="选择时间段"/>
</div>
<script type="text/javascript">
$(function() {
  $('input[name="datefilter"]').daterangepicker({
      autoUpdateInput: false,
      locale: {
          cancelLabel: 'Clear'
      }
  });
  $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD'));
  });
  $('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');
  });
});
</script>

<!--     <div class="form-group">
        <label for="taskNote">开始时间</label>
        <input  placeholder="选择时间" value="" name="starttime" class="datetimepicker_es">
    </div>
    <div class="form-group">
        <label for="taskNote">结束时间</label>
        <input  placeholder="选择时间" value="" name="endtime" class="datetimepicker_es">
    </div> -->
    <button type="submit" class="btn btn-primary" name="button">添加</button>
  </form>
  <br></div>

   <div class="col-sm-4">
     <div id="bar1" class="alert alert-success" role="alert">  <strong>计划任务!</strong> </div>
   </div>
   <div class="col-sm-4">
     <div id="bar1" class="alert alert-success" role="alert">  <strong>进行中任务!</strong> </div>
   </div>
   <div class="col-sm-4">
     <div id="bar1" class="alert alert-success" role="alert">  <strong>完成任务!</strong> </div>
   </div>

<div class="col-sm-4">
  {{range $index, $elem :=.Tasks}}
  {{if lt $index 10}}
  <div class="panel panel-default">
    <!-- <div class="panel-heading" onclick="return close1('{{.Id}}')">  -->
    <div class="panel-heading" onclick="showDetail('{{.Id}}')">
      <h3 class="panel-title">
        {{.Title}}
<!--         <button type="button" class="close" onclick="close1()">
                <span >&times;</span>
              </button> -->
        <a href="/todo/delete?tid={{.Id}}" class="close"><span >&times;</span></a>      
      </h3>
    </div>
    <div class="panel-body">
    <p class="card-text">开始时间：{{dateformat .StartTime "2006-01-02"}}</p><!--  T 15:04:05 -->
    <p class="card-text">结束时间：{{dateformat .EndTime "2006-01-02"}}</p>
      <span>建立时间：{{dateformat .Created "2006-01-02 T 15:04:05"}}</span>
      <h3><p class="card-text">{{.Content}}</p></h3>
      <!-- <button type="button" class="label label-primary">></button> -->
      <a href="/todo/update?tid={{.Id}}" class="label label-primary"><span>></span></a>
    </div>
  </div>
  {{end}}
  {{end}}
</div>

<div class="col-sm-4">
  {{range $index, $elem :=.Tasks1}}
  {{if lt $index 10}}
  <div class="panel panel-default">
    <div class="panel-heading" onclick="showDetail('{{.Id}}')">
      <h3 class="panel-title">
        {{.Title}}
<!--         <button type="button" class="close">
          <span (click)="remove(task)" class="ng-binding">×</span>
        </button> -->
        <a href="/todo/delete?tid={{.Id}}" class="close"><span >&times;</span></a>
      </h3>
    </div>
    <div class="panel-body">
    <p class="card-text">开始时间：{{dateformat .StartTime "2006-01-02"}}</p>
    <p class="card-text">结束时间：{{dateformat .EndTime "2006-01-02"}}</p>
      <span>建立时间：{{dateformat .Created "2006-01-02 T 15:04:05"}}</span>
      <h3><p class="card-text">{{.Content}}</p></h3>
      <a href="/todo/update1?tid={{.Id}}" class="label label-primary"><span><</span></a>
      <a href="/todo/update?tid={{.Id}}" class="label label-primary"><span>></span></a>
    </div>
  </div>
  {{end}}
  {{end}}
</div>

<div class="col-sm-4">
  {{range $index, $elem :=.Tasks2}}
  {{if lt $index 10}}

  <div class="panel panel-default">
    <div class="panel-heading" onclick="showDetail('{{.Id}}')">
      <h3 class="panel-title">
        {{.Title}}
<!--         <button type="button" class="close">
          <span (click)="remove(task)" class="ng-binding">×</span>
        </button> -->
        <a href="/todo/delete?tid={{.Id}}" class="close"><span >&times;</span></a>
      </h3>
    </div>
    <div class="panel-body">
    <p class="card-text">开始时间：{{dateformat .StartTime "2006-01-02"}}</p>
    <p class="card-text">结束时间：{{dateformat .EndTime "2006-01-02"}}</p>
      <span>建立时间：{{dateformat .Created "2006-01-02 T 15:04:05"}}</span>
      <h3><p class="card-text">{{.Content}}</p></h3>
      <a href="/todo/update1?tid={{.Id}}" class="label label-primary"><span><</span></a>
    </div>
  </div>
  {{end}}
  {{end}}
</div>
<!--         <button type="button" class="close">
          <span (click)="remove(task)" class="ng-binding">×</span>
        </button> -->

 <div class="task-detail" id="task-detail"> <!-- style="visibility: hidden;" -->
   <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">任务详细
             <a class="close"><span onclick="hideDetail()">&times;</span></a>
      </h3>
    </div> 
<!--       <div class="card-header" onclick="hideDetail()">
      <a  class="close"><span >&times;</span></a>
       </div> -->
      <div class="card-block">
      <!-- <label class="control-label" id="taskdetail"></label> -->
        <h4 class="card-title" id="card-title"></h4>
        <p class="card-text" id="card-text"></p>
      </div>
      <h5 style="text-align:left">任务记录：</h5>

        <fieldset class="form-group">
           <textarea class="form-control" #newjilu rows="3"></textarea>
         </fieldset>
           <button type="button" class="btn btn-primary" (click)="addComment(taskDetail,newjilu)">提交</button>
    </div>
 </div>
  <!-- <br> -->
</div>

<script type="text/javascript">
function showDetail(str){
  // alert("至少保留一行:"+str);
    // $('#showdetails').click(function(){<script type="text/javascript" src="/static/js/jquery-latest.js">注释掉后这里就用不了ajax了。奇怪。
         $.ajax({
             type: "post",
             // url: "/todo/showdetails",
             data: {id:str},
                // type:"post",//这里是否一定要用post？？？
                url:"/todo/showdetails",
                dataType:'json',
                success:function(data,status){
                  // alert(data);
                  // var obj = eval(data);//将json字符串转换成对象?去掉斜杠\ 
                  // alert(obj[0].Title);
                  // var obj1=eval(obj) //再转成json对象？
                  // alert(obj1[0].Title);
                  $("#card-title").html("Title:"+data[0].Title);
                  $("#card-text").html("Content:"+data[0].Content);
                  // $("#card-text").append('<div>Content：' + obj1[0].Content + "</div>");
                //控制器中用jsonserver的话就用下面这个形式，不用eval转换，如果用writestring方式，就要用eval转换。
                        // alert(obj1[0].Title); 
                        // $.each(obj1,function(i,d){
                        // alert(obj1[0].Title);
                        // $("#task-detail").append('<div>' + obj1[0].Title + '</div>');
                        // });
                }
          });
 document.getElementById("task-detail").style.visibility="visible";        
};
// $.ajax({
//     url: "/topic/addtopic3", 
//     type: "POST",
//     data: { id: 2, name: "aaa", tel: "~!@#$%^&*()_+-=<>?|", xxxx: "要多少还可以写多少", encoding: "见鬼去吧。?& :)" },
//     success: function(responseText) {
//         $("#divResult").html(responseText);
//     }
// });
// $("button").click(function(){
//   $.post("demo_test_post.asp",
//   {
//     name:"Donald Duck",
//     city:"Duckburg"
//   },
//   function(data,status){
//     alert("Data: " + data + "\nStatus: " + status);
//   });
// });

$(document).ready(function(){

  // $("#uname").focus(function(){
     $("#uname").blur(function(){
      
  
// $("#regist").click(function(){//这里应该用button的id来区分按钮的哪一个,因为本页有好几个button
  // $(function(){
            $.ajax({
                type:"post",//这里是否一定要用post？？？
                url:"/regist/checkuname",
                // data:$('#form').serialize(),
                //格式化表单参数或者也可以使用data:{'folder':$('input[name=folder]').val(),'page':$('input[name=page]').val()},
                // data:{'aid':54,'content':55,'aid':56,'content':57},
                // data:o,
                // datetype:'text',
                data: { uname: $("#uname").val()},
                // success: function(responseText) {
                // $("#divResult").html(responseText);
                // }
                success:function(data,status){//数据提交成功时返回数据
                       //假设有数字a、b、c。当a大于5与b小于6或者c不等于8与a等于‘3’时，输出1306
                       //var a,b,c;
                       //alert (a > 5 && b < 6 || c != 8 && a == 3 ? 1306 : '');

                         if ( $("#uname").val().length>0 && data=="false") 
                         {
                             $("#regis").html("用户名已存在！");
                             $("#regis").css("color","red");
                         }
                         else if ( $("#uname").val().length>0 && data=="true")
                         {
                             $("#regis").html("用户名可用！");
                             $("#regis").css("color","green");
                         }
                         else if ( $("#uname").val().length==0)
                         {
                             $("#regis").html("用户名 或 邮箱");
                             $("#regis").css("color","black");
                         }
                         // else if ( hob == "basketball")
                         // {
                         // alert("我也爱看！")
                         // }
                         // else//既不是JavaScript又不是足球
                         // {
                         // alert("没有评价……");
                         // }
                         
                  //   alert("Data: " + data + "\nStatus: " + status);
                  //   if (data="false"){
                  //   $("#regis").html("用户名已存在！");
                  //   $("#regis").css("color","red");
                  // } else {
                  //   $("#regis").html("用户名可用！");
                  //   $("#regis").css("color","green");
                  //   // css("background-color","red");
                  // }
                    // alert(data);
                    // alert("导出成功！")
                    // return false;
                }
            });
            // return true;//这里false应该是不刷新页面的意思?
 });
});



function checkInput(){
  var uname=document.getElementById("uname");
  if (uname.value.length==0){
    alert("请输入账号");
    return false;
  }
    var pwd=document.getElementById("pwd");
  if (pwd.value.length==0){
    alert("请输入密码");
    return false;
    }
// return true
}
function backToHome(){
  window.location.href="/";
  return false;
}
</script>





</body>
</html>
