<!DOCTYPE html>
{{template "header"}}
<title>修改成果 - 水利设计CMS系统</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.all.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/static/ueditor/lang/zh-cn/zh-cn.js"></script>
<link rel="stylesheet" type="text/css" href="/static/fex-team-webuploader/css/webuploader.css">
<script type="text/javascript" src="/static/fex-team-webuploader/dist/webuploader.js"></script>
    <script src="/static/ueditor/ueditor.parse.js"></script>
    <style type="text/css">
h3 {line-height: 150%;
  /*color: #DC143C;#000000*/
  color:#FFFFFF;
  background: #4682B4;/*#fff*/
  margin: 10;
  padding: 10;
  font-family: Georgia, Palatino, serif;
  }
    
.uploader-list {
  width: 100%;
  overflow: hidden;
}

#uploader-demo .thumbnail {
  width: 110px;
  height: 110px;
}
.file-item {
  float: left;
  position: relative;
  margin: 0 20px 20px 0;
  padding: 4px;
}
.webuploader-container {
  position: relative;
}
</style>
</head>

<body>
<div class="navbar navba-default navbar-fixed-top">
  <div class="container-fill">{{template "navbar" .}}</div>
</div>

<div class="col-lg-12">
  <!-- 这里添加项目目录树显示 -->
  <h3> <font size="5" >{{.TopicProj.Title}}</font> <font size="4"> » {{.TopicPhase.Title}}</font>
    <font size="4"> » {{.TopicSpec.Title}}</font>
    <font size="5"> » {{.TopicChengguo.Title}}</font>
  </h3>
  <h2>修改成果</h2>
  <!-- 下面的action="/topic/post"与script中的/topic/topic_many_addbaidu 如何统一
  其实也正好，当仅上传附件的时候也触发了form中的post方法进行了跳转；当不传附件，仅修改内容的时候，就必须要点“提交修改”按钮了-->
  <form method="post" action="/topic/post" enctype="multipart/form-data">
    <input type="hidden" id="tid" name="tid" value="{{.Tid}}">
    <div class="form-group">
      <label>成果编号:</label>
      <input id="tnumber" type="text" class="form-control"  placeholder="Enter account" name="tnumber" value="{{.Topic.Tnumber}}"></div>

    <div class="form-group">
      <label>成果名称:</label>
      <input id="title" type="text" class="form-control"  placeholder="Enter account" name="title" value="{{.Topic.Title}}"></div>

    <div class="form-group">
      <label>成果分类</label>
      <input readonly="readonly" type="text" id="category" class="form-control" name="category" value="{{.Topic.Category}}"></div>
    <div class="form-group">
      <label>成果分类ID</label>
      <input readonly="readonly" id="categoryid" type="text" class="form-control"  name="categoryid" value="{{.Topic.CategoryId}}"></div>

      <label>成果内容:</label>
<div id="content">
    <script id="editor" type="text/plain" style="height:500px;"></script>
</div>

    <div class="form-group">
      <h5>
        成果附件：
        <ol>
          {{range .Attachment}}
          <li>
            <a href={{.Route}}>{{.FileName}}</a>
            文件大小：{{.FileSize}}KB
            <a href="/attachment/delete?aid={{.Id}}&tid={{$.Tid}}&op=modify">删除</a>
          </li>
          {{end}}
        </ol>
      </h5>
    </div>

<!--SWF在初始化的时候指定，在后面将展示-->
<div id="uploader" class="wu-example">
    <!--用来存放文件信息-->
    <div id="thelist" class="uploader-list"></div>
    <div class="btns">
        <div id="picker">选择文件</div>
        <div id="ctlBtn" class="btn btn-primary">开始上传</div>
        <!-- <button id="ctlBtn" class="btn btn-default">开始上传</button>这个button会触发form的post方法-->
    </div>
</div>

<!--dom结构部分-->
<div id="uploader-demo">
    <!--用来存放item-->
    <div id="fileList" class="uploader-list"></div>
    <div id="filePicker">选择图片</div>
</div>

  <button type="submit" class="btn btn-default">提交修改</button>    
 </form>
</div>


<script type="text/javascript">
    //实例化编辑器
    //议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');
    ue.addListener("ready", function () {
    uParse('.content', {
        rootPath: '/static/ueditor/'
    });
    });

    $(function(){
        var content =$('#content').val();
        //判断ueditor 编辑器是否创建成功
        ue.addListener("ready", function () {
        // editor准备好之后才可以使用
        ue.setContent({{str2html .Topic.Content}});
        });
    });
/* 2.传入参数表,添加到已有参数表里 通过携带参数，实现不同的页面使用不同controllers*/
    ue.ready(function () {
    ue.addListener('focus', function () {//startUpload start-upload startUpload beforeExecCommand是在插入图片之前触发
    var tnumber = $('#tnumber').val();
    var title = $('#title').val();
    var categoryid = $('#categoryid').val();
    var category = $('#category').val();
    var html = ue.getContent();

    ue.execCommand('serverparam', {
        "key":"diary",
        "tnumber":tnumber,
        "title":title,
        "categoryid":categoryid,
        "category":category,
        'content':html, 
        });
    });
    });

// webuploader文件上传
jQuery(function() {
    var $ = jQuery,
        $list = $('#thelist'),
        $btn = $('#ctlBtn'),
        state = 'pending',
        uploader;
        uploader = WebUploader.create({
        // 不压缩image
        resize: false,
        // swf文件路径
        swf: '/static/fex-team-webuploader/dist/Uploader.swf',
        // 文件接收服务端。
        server: '/topic/topic_many_addbaidu',
        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#picker'
    });

    // 当有文件添加进来的时候
    uploader.on( 'fileQueued', function( file ) {
        $list.append( '<div id="' + file.id + '" class="item">' +
            '<h4 class="info">' + file.name + '</h4>' +
            '<p class="state">等待上传...</p>' +
        '</div>' );
    });
//当某个文件的分块在发送前触发，主要用来询问是否要添加附带参数，
//大文件在开起分片上传的前提下此事件可能会触发多次。
// uploader.on( 'fileQueued', function( file ) {
    // do some things.
// });
 uploader.on( 'startUpload', function() {//uploadBeforeSend——这个居然不行？
    var tid = $('#tid').val();
    var tnumber = $('#tnumber').val();
    var title = $('#title').val();
    var categoryid = $('#categoryid').val();
    var category = $('#category').val();
    var html = ue.getContent();
      // alert(html);
      uploader.option('formData', {
        "tid":tid,
        "tnumber":tnumber,
        "title":title,
        "categoryid":categoryid,
        "category":category,
        'content':html,
        // {'tnumber':a,'title':b,'categoryid':c,'category':d,'content':e}
      });        
    });
    // 文件上传过程中创建进度条实时显示。
    uploader.on( 'uploadProgress', function( file, percentage ) {
        var $li = $( '#'+file.id ),
            $percent = $li.find('.progress .progress-bar');
        // 避免重复创建
        if ( !$percent.length ) {
            $percent = $('<div class="progress progress-striped active">' +
              '<div class="progress-bar" role="progressbar" style="width: 0%">' +
              '</div>' +
            '</div>').appendTo( $li ).find('.progress-bar');
        }

        $li.find('p.state').text('上传中');

        $percent.css( 'width', percentage * 100 + '%' );
    });

    uploader.on( 'uploadSuccess', function( file ) {
        $( '#'+file.id ).find('p.state').text('已上传');
    });

    uploader.on( 'uploadError', function( file ) {
        $( '#'+file.id ).find('p.state').text('上传出错');
    });

    uploader.on( 'uploadComplete', function( file ) {
        $( '#'+file.id ).find('.progress').fadeOut();
    });

    uploader.on( 'all', function( type ) {
        if ( type === 'startUpload' ) {
            state = 'uploading';
        } else if ( type === 'stopUpload' ) {
            state = 'paused';
        } else if ( type === 'uploadFinished' ) {
            state = 'done';
        }

        if ( state === 'uploading' ) {
            $btn.text('暂停上传');
        } else {
            $btn.text('开始上传');
        }
    });

    $btn.on( 'click', function() {
        if ( state === 'uploading' ) {
            uploader.stop();
        } else {
            uploader.upload();
        }
    });
});


// 图片上传demo
jQuery(function() {
    var $ = jQuery,
        $list = $('#fileList'),
        // 优化retina, 在retina下这个值是2
        ratio = window.devicePixelRatio || 1,
        // 缩略图大小
        thumbnailWidth = 100 * ratio,
        thumbnailHeight = 100 * ratio,
        // Web Uploader实例
        uploader;
    // 初始化Web Uploader
    uploader = WebUploader.create({
        // 自动上传。
        auto: true,
        // swf文件路径
        swf: '/static/fex-team-webuploader/dist/Uploader.swf',
        // 文件接收服务端。
        server: '/topic/topic_many_addbaidu',
        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#filePicker',
        // 只允许选择文件，可选。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        }
    });
    // 当有文件添加进来的时候
    uploader.on( 'fileQueued', function( file ) {
        var $li = $(
                '<div id="' + file.id + '" class="file-item thumbnail">' +
                    '<img>' +
                    '<div class="info">' + file.name + '</div>' +
                '</div>'
                ),
            $img = $li.find('img');
        $list.append( $li );
        // 创建缩略图
        uploader.makeThumb( file, function( error, src ) {
            if ( error ) {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }
            $img.attr( 'src', src );
        }, thumbnailWidth, thumbnailHeight );
    });

 uploader.on( 'startUpload', function() {//uploadBeforeSend——这个居然不行？
    var tid = $('#tid').val();
    var tnumber = $('#tnumber').val();
    var title = $('#title').val();
    var categoryid = $('#categoryid').val();
    var category = $('#category').val();
    var html = ue.getContent();
      // alert(html);
      uploader.option('formData', {
        "tid":tid,
        "tnumber":tnumber,
        "title":title,
        "categoryid":categoryid,
        "category":category,
        'content':html,
        // {'tnumber':a,'title':b,'categoryid':c,'category':d,'content':e}
      });        
    });
    // 文件上传过程中创建进度条实时显示。
    uploader.on( 'uploadProgress', function( file, percentage ) {
        var $li = $( '#'+file.id ),
            $percent = $li.find('.progress span');
        // 避免重复创建
        if ( !$percent.length ) {
            $percent = $('<p class="progress"><span></span></p>')
                    .appendTo( $li )
                    .find('span');
        }

        $percent.css( 'width', percentage * 100 + '%' );
    });
    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    uploader.on( 'uploadSuccess', function( file ) {
        $( '#'+file.id ).addClass('upload-state-done');
    });
    // 文件上传失败，现实上传出错。
    uploader.on( 'uploadError', function( file ) {
        var $li = $( '#'+file.id ),
            $error = $li.find('div.error');
        // 避免重复创建
        if ( !$error.length ) {
            $error = $('<div class="error"></div>').appendTo( $li );
        }
        $error.text('上传失败');
    });
    // 完成上传完了，成功或者失败，先删除进度条。
    uploader.on( 'uploadComplete', function( file ) {
        $( '#'+file.id ).find('.progress').remove();
    });
});
</script>
</body>
</html>