<!DOCTYPE html>
{{template "header"}}
<title>添加图纸 - 水利设计CMS系统</title>
</head>

<script src="/static/js/jquery-2.1.3.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="/static/js/uploadify/uploadify.css" type="text/css">

<body>
<div class="navbar navba-default navbar-fixed-top">
  <div class="container">{{template "navbar" .}}</div>
</div>

<div class="container">
  <h1>添加图纸</h1>
  <form method="post" action="/topic" enctype="multipart/form-data">
    <div class="form-group">
      <label>图纸名称:</label>
      <input id="name" type="text" class="form-control"  placeholder="Enter account" name="title"></div>

    <div class="form-group">
      <label>图纸分类</label>
      <input type="text" class="form-control" name="category"></div>

    <div class="form-group">
      <label>图纸内容:</label>
      <textarea name="content" cols="30" rows="10" class="form-control" placeholder="Enter account" ></textarea>
    </div>

    <div class="form-group">
      <label>图纸附件：</label>
      <!--<input type="file" class="form-control" name="attachment" multiple="true">-->
      <form method="post" action="/topic" enctype="multipart/form-data">
  <input type="file" name="attachment" id="file_upload" ></form>
      </div>
    <button type="submit" class="btn btn-default">添加图纸</button>
  </form>
  

<!--将uploadify绑定在input元素上面：-->

<script type="text/javascript">     
$(function(){             
    $("#file_upload").uploadify({       <!--//绑定元素 -->     
        'fileObjName':'attachment',<!--//html input标签的name属性的值吧。  -->               
        'debug':false,                  
        'auto':true,    <!--//自动上传 -->             
    'buttonText':'Choose A File',                   
    'removeCompleted':false, <!--//上传完成以后是否保存进度条  -->                  
    'cancelImg':'/static/js/uploadify/uploadify-cancel.png',                   
    'swf':'/static/js/uploadify/uploadify.swf', <!--//必须设置  swf文件路径  -->          
    'uploader':'/topic',         <!--//必须设置，上传文件触发的url -->      
    'fileTypeDesc':'FileType',                  
    'fileTypeExts':'*.jpg;*.jpge;*.gif;*.png',                  
    'overrideEvents':['onDialogClose'],                
     'multi':true,                 
     'formData':{'url':window.location.search}  <!--//这里我需要得到当前页面url的问号后面的值，所以就用 fromData 这个参数。-->      
     });        
}); 
</script> 



</div>
<!--
<form method="GET" action="/category">
<div class="form-group">
  <label>图纸名称</label>
  <input id="name" class="form-control"  placeholder="Enter account" name="name"></div>
<input type="hidden" name="op" value="add">
<button type="submit" class="btn btn-default" onclick="return checkInput();">添加</button>
</form>

<script type="text/javascript">
function checkInput(){
  var name=document.getElementById("name");
  if (name.value.length==0){
    alert("请输入分类名称");
    return false;
  }
       return true;
}
</script>

<table class="table table-striped">
<thead>
  <tr>
    <th>#</th>
    <th>图纸名称</th>
    <th>最后更新</th>
    <th>浏览</th>
    <th>回复数</th>
  </tr>
</thead>
<tbody>
  {{range.Category}}
  <tr>
    <th>{{.Id}}</th>
    <th>{{.Title}}</th>
    <th>{{.Updated}}</th>
    <th>{{.Views}}</th>
    <th>{{.ReplyCount}}</th>
    <th>
      <a href="/category?op=del&id={{.Id}}">删除</a>
    </th>
  </tr>
  {{end}}
</tbody>
<table></div>

<script src="/static/js/jquery-1.6.js" type="text/javascript" charset="utf-8"></script>
//uploadify是基于jQuery的所以需要jQuery
-->
<!--然后就是HTML代码：-->



</body>

<!-- <script type="text/javascript" src="/static/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
-->


</html>