<!DOCTYPE html>
{{template "header"}}
<title>一对一添加成果 - 水利设计CMS系统</title>
</head>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
            快速开始 - Web Uploader
        </title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
    <style type="text/css">
h3 {line-height: 150%;
  /*color: #DC143C;#000000*/
  color:#FFFFFF;
  background: #4682B4;/*#fff*/
  margin: 10;
  padding: 10;
  font-family: Georgia, Palatino, serif;
  }
    
.uploader-list {
  width: 100%;
  overflow: hidden;
}

#uploader-demo .thumbnail {
  width: 110px;
  height: 110px;
}
.file-item {
  float: left;
  position: relative;
  margin: 0 20px 20px 0;
  padding: 4px;
}
.webuploader-container {
  position: relative;
}
    </style>
</head>


<!--引入CSS-->
<link rel="stylesheet" type="text/css" href="/static/fex-team-webuploader/css/webuploader.css">
<script type="text/javascript" src="/static/js/jquery-2.1.3.min.js"></script>
<!--引入JS-->
<script type="text/javascript" src="/static/fex-team-webuploader/dist/webuploader.js"></script>

<body>
<div class="navbar navba-default navbar-fixed-top">
  <div class="container-fill">{{template "navbar" .}}</div>
</div>

<div class="col-lg-12">
<h3> <font size="5">{{.CategoryProj.Title}}</font> <font size="4"> » {{.CategoryPhase.Title}}</font>
    <font size="4"> » {{.CategorySpec.Title}}» </font>
    <font size="5"> {{.Category.Title}}</font>
  </h3>

  <h2>添加成果</h2>
  <!-- <form method="post" action="/topic/topic_one_add" enctype="multipart/form-data"> -->
 <form>
   <div class="form-group">
    <label>成果分类</label>
    <input readonly="readonly" type="text" class="form-control" name="category" value="{{.Category.Title}}"></div>
  <div class="form-group">
    <label>成果分类ID</label>
    <input readonly="readonly" id="categoryid" type="text" class="form-control"  name="categoryid" value="{{.Category.Id}}"></div>

  <div class="form-group">
    <label>成果说明:</label>
    <textarea id="content" name="content" cols="30" rows="10" class="form-control" placeholder="Enter about" ></textarea>
  </div>
</form>

<!--SWF在初始化的时候指定，在后面将展示-->
<div id="uploader" class="wu-example">
    <!--用来存放文件信息-->
    <div id="thelist" class="uploader-list"></div>
    <div class="btns">
        <div id="picker">选择文件</div>
        <button id="ctlBtn" class="btn btn-default">开始上传</button>
    </div>
</div>

<!--dom结构部分-->
<div id="uploader-demo">
    <!--用来存放item-->
    <div id="fileList" class="uploader-list"></div>
    <div id="filePicker">选择图片</div>
</div>

<!-- <div id="uploader-demo" class="wu-example">
    <div id="fileList" class="uploader-list"></div>
    <div id="filePicker" class="webuploader-container">
        <div class="webuploader-pick" id="filePicker">选择图片</div>
        <div id="rt_rt_1a8ltg4fmfb7cr6p11dii4904" style="position: absolute; top: 0px; left: 0px; width: 94px; height: 44px; overflow: hidden; bottom: auto; right: auto;">
            <input type="file" name="file" class="webuploader-element-invisible" multiple="multiple" accept="image/*">
            <label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label>
        </div>
    </div>
</div> -->
</div>



<script type="text/javascript">
// var uploader = WebUploader.create({
//     // swf文件路径
//     swf: '/static/fex-team-webuploader/dist/Uploader.swf',
//     // 文件接收服务端。
//     server: 'http://webuploader.duapp.com/server/fileupload.php',
//     // 选择文件的按钮。可选。
//     // 内部根据当前运行是创建，可能是input元素，也可能是flash.
//     pick: '#picker',
//     // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
//     resize: false
// });
// 初始化的时候直接添加
// var uploader = new WebUploader.Uploader({
    // ...
    // formData: {
        // uid: 123
    // }
    // ...
// });
// 初始化以后添加
// uploader.options.formData.uid = 123;

// 文件上传
jQuery(function() {
      var a = document.getElementsByName("categoryid");
      a=a[0].value;
      var b = document.getElementsByName("category");
      b=b[0].value;
   
    var $ = jQuery,
        $list = $('#thelist'),
        $btn = $('#ctlBtn'),
        state = 'pending',
        uploader;
    uploader = WebUploader.create({
        // 不压缩image
        resize: false,
        // swf文件路径
        swf: '/static/fex-team-webuploader/dist/Uploader.swf',
        // 文件接收服务端。
        server: '/topic/topic_one_addbaidu',
        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#picker'
    });

    // 当有文件添加进来的时候
    uploader.on( 'fileQueued', function( file ) {

      var c = document.getElementsByTagName("textarea");
      c=c[0].value;
      // alert(c); 

      uploader.option('formData', {
        // uid: 123
        // 'tnumber':a,
        // 'title':b,
        'categoryid':a,
        'category':b,
        'content':c,
        // {'tnumber':a,'title':b,'categoryid':c,'category':d,'content':e}
      });  

        $list.append( '<div id="' + file.id + '" class="item">' +
            '<h4 class="info">' + file.name + '</h4>' +
            '<p class="state">等待上传...</p>' +
        '</div>' );
    });

    // 文件上传过程中创建进度条实时显示。
    uploader.on( 'uploadProgress', function( file, percentage ) {
        var $li = $( '#'+file.id ),
            $percent = $li.find('.progress .progress-bar');

        // 避免重复创建
        if ( !$percent.length ) {
            $percent = $('<div class="progress progress-striped active">' +
              '<div class="progress-bar" role="progressbar" style="width: 0%">' +
              '</div>' +
            '</div>').appendTo( $li ).find('.progress-bar');
        }

        $li.find('p.state').text('上传中');

        $percent.css( 'width', percentage * 100 + '%' );
    });

    uploader.on( 'uploadSuccess', function( file ) {
        $( '#'+file.id ).find('p.state').text('已上传');
    });

    uploader.on( 'uploadError', function( file ) {
        $( '#'+file.id ).find('p.state').text('上传出错');
    });

    uploader.on( 'uploadComplete', function( file ) {
        $( '#'+file.id ).find('.progress').fadeOut();
    });

    uploader.on( 'all', function( type ) {
        if ( type === 'startUpload' ) {
            state = 'uploading';
        } else if ( type === 'stopUpload' ) {
            state = 'paused';
        } else if ( type === 'uploadFinished' ) {
            state = 'done';
        }

        if ( state === 'uploading' ) {
            $btn.text('暂停上传');
        } else {
            $btn.text('开始上传');
        }
    });

    $btn.on( 'click', function() {
        if ( state === 'uploading' ) {
            uploader.stop();
        } else {
            uploader.upload();
        }
    });
});


// 图片上传demo
jQuery(function() {
      var a = document.getElementsByName("categoryid");
      a=a[0].value;
      var b = document.getElementsByName("category");
      b=b[0].value;


    var $ = jQuery,
        $list = $('#fileList'),
        // 优化retina, 在retina下这个值是2
        ratio = window.devicePixelRatio || 1,

        // 缩略图大小
        thumbnailWidth = 100 * ratio,
        thumbnailHeight = 100 * ratio,

        // Web Uploader实例
        uploader;

    // 初始化Web Uploader
    uploader = WebUploader.create({

        // 自动上传。
        auto: true,

        // swf文件路径
        swf: '/static/fex-team-webuploader/dist/Uploader.swf',

        // 文件接收服务端。
        server: '/topic/topic_one_addbaidu',

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#filePicker',

        // 只允许选择文件，可选。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        }
    });

    // 当有文件添加进来的时候
    uploader.on( 'fileQueued', function( file ) {
      var c = document.getElementsByTagName("textarea");
      c=c[0].value;

      uploader.option('formData', {
        // uid: 123
        // 'tnumber':a,
        // 'title':b,
        'categoryid':a,
        'category':b,
        'content':c,
        // {'tnumber':a,'title':b,'categoryid':c,'category':d,'content':e}
      });

        var $li = $(
                '<div id="' + file.id + '" class="file-item thumbnail">' +
                    '<img>' +
                    '<div class="info">' + file.name + '</div>' +
                '</div>'
                ),
            $img = $li.find('img');

        $list.append( $li );

        // 创建缩略图
        uploader.makeThumb( file, function( error, src ) {
            if ( error ) {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }

            $img.attr( 'src', src );
        }, thumbnailWidth, thumbnailHeight );
    });

    // 文件上传过程中创建进度条实时显示。
    uploader.on( 'uploadProgress', function( file, percentage ) {
        var $li = $( '#'+file.id ),
            $percent = $li.find('.progress span');

        // 避免重复创建
        if ( !$percent.length ) {
            $percent = $('<p class="progress"><span></span></p>')
                    .appendTo( $li )
                    .find('span');
        }

        $percent.css( 'width', percentage * 100 + '%' );
    });

    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    uploader.on( 'uploadSuccess', function( file ) {
        $( '#'+file.id ).addClass('upload-state-done');
    });

    // 文件上传失败，现实上传出错。
    uploader.on( 'uploadError', function( file ) {
        var $li = $( '#'+file.id ),
            $error = $li.find('div.error');

        // 避免重复创建
        if ( !$error.length ) {
            $error = $('<div class="error"></div>').appendTo( $li );
        }

        $error.text('上传失败');
    });

    // 完成上传完了，成功或者失败，先删除进度条。
    uploader.on( 'uploadComplete', function( file ) {
        $( '#'+file.id ).find('.progress').remove();
    });
});
</script>

    </body>
</html> 