/* Tag styles */
body {
	margin: 0;
	padding: 0 0 30px 0;
	font-family: "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
	font-size: 10pt;
	color: #333;
	background: #999 url(/images/background.png) top center repeat-y;
}
h1 {
	font-size: 30px;
	padding: 10px 0 10px 0;
	margin: 10px 0 10px 0;
}
h1 a, h1 a:visited, h1 a:hover {
	color: #333;
	text-decoration: none;
}
h2 {
	margin: 7px 0 5px 0;
	padding-bottom: 2px;
	border-bottom: 1px solid #4E799B;
}
h3 {
	font-size: 11pt;
	padding: 2px 5px;
	border: 1px solid #4E799B;
	background-color: #B4CEFF;
	background-color: #B4CEFF;
}
h4 {
	font-size: 11pt;
	margin: 5px 0;
}
code {
	display: block;
	font-size: 9pt;
	margin: 0 20px 0 20px;
	padding: 5px;
	border: 1px solid #999999;
	background-color: #EEEEEE;
	white-space: pre;
	overflow: auto;
}
img {
	border: 0;
}
tt {
	font-size: 9pt;
}
hr {
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #CCC;
	height: 1px;
}
a, a:visited, a:active {
	color: #009900;
}

/* Layout */
#header {
	background-color: #B4CEFF;
	padding: 10px;
	border-bottom: 1px solid #4E799B;
}
#header > div {
	width: 800px;
	margin: 0 auto;
	vertical-align: middle;
	height: 60px;
}
#header div.navigation {
	float: right;
}
div.navigation ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
div.navigation li {
	display: inline;
	padding: 0 8px;
	font-size: 11pt;
}
div.navigation li a {
	text-decoration: none;
	color: #333;
}
div.navigation li a:hover {
	color: #000;
}
#header div.branding {
	width: 260px;
}
#header div.branding a {
	display: block;
	text-decoration: none;
	color: #333;
}
#header h1 {
	line-height: 30px;
	margin: 0;
	padding: 7px 0 0 0;
}
#header img.logo {
	float: left;
	padding-right: 15px;
	vertical-align: middle;
}
#header span.tagline {
}
#background {
	background: #999 url(/images/background.png) top center repeat-y;
}
.pagecenter {
	width: 820px;
	margin: 0 auto;
}
#content {
	padding: 10px;
}
.pagecenter .indent {
	margin-left: 160px;
}
#sidebar {
	position: relative;
	/* left: 1px; */
	float: left;
	width: 160px;
	background: #EEE;
	border-right: 1px solid #999;
	margin-bottom: 10px;
}
#sidebar h2 {
	font-size: 10pt;
	margin: 0;
	padding: 5px;
	border: 0;
	background-color: #4E799B;
	color: #FFF;
}
#sidebar h2 a {
	text-decoration: none;
	color: #FFF;
}
#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#sidebar ul li {
	border-bottom: 1px solid #999;
}
#sidebar ul li a,
#sidebar ul li a:active,
#sidebar ul li a:visited {
	padding: 5px;
	text-decoration: none;
	color: #333;
	display: block;
}
#sidebar ul li.sub a {
	padding: 5px 5px 5px 15px;
}
#sidebar ul li.active a {
	background-color: #B2E194;
	font-weight: bold;
}
#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #B4CEFF;
	padding: 5px 0;
	border-top: 1px solid #4E799B;
	border-bottom: 1px solid #4E799B;
	clear: both;
}
#footer > div {
	width: 800px;
	margin: 0 auto;
	text-align: center;
}
#footer a {
	text-decoration: underline;
}
.center {
	text-align: center;
}
.framed {
	padding: 3px;
	border: 1px solid #CCC;
}
.gray {
	color: #999;
}

#update {
	background-color: #FFFFCC;
	border-bottom: 1px solid #999;
	padding: 3px;
	color: #666;
	text-align: center;
}
#update img {
	vertical-align: text-bottom;
}
#overview {
	background: #999 url(/images/background-gray.png) top center repeat-y;
}
.overviewcontent {
	padding: 10px 20px;
}
p.summary {
	font-size: 14pt;
	padding-right: 310px;
	line-height: 25px;
	text-align: justify;
}
.download {
	border: 1px solid #999;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 30px 10px 20px 10px;
	margin: 5px 0 5px 10px;
	float: right;
	width: 260px;
	background-color: #B2E194;
	text-align: center;
}
a.downloadbutton {
	margin: 0 auto 5px auto;
	width: 150px;
	height: 20px;
	background: url(/images/download-blank.png) no-repeat;
	font-size: 17px;
	display: block;
	padding: 10px 40px 10px 10px;
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}
.clear {
	height: 0;
	clear: both;
}
.features {
	margin-top: 10px;
}
.features h4 {
	margin: 10px 0;
	font-size: 12pt;
}
.features td {
	padding: 0 20px;
}
.features ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.features li {
	padding-left: 10px;
	background: url(/images/bullet.png) left center no-repeat;
}

td, th {
	vertical-align: top;
}
table.controls {
	border-collapse: collapse;
}
table.controls img {
	border: 1px solid #CCC;
	padding: 3px;
}
table.controls td {
	padding: 15px 10px;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #EEE;
	vertical-align: top;
}
table.controls td.leftborder {
	border-left: 1px solid #EEE;
}
table.controls td.description {
	padding-left: 15px;
}
table.controls td.description b {
	font-size: 11pt;
}

table.parameters {
	border-collapse: collapse;
	margin: 0 20px;
}
table.parameters > tbody > tr > td,
table.parameters > tbody > tr > th {
	border: 1px solid #999;
	padding: 3px;
	text-align: left;
}
table.parameters > tbody > tr > th {
	font-weight: bold;
}

/* Widgets */
textarea.richtext { width: 600px; height: 300px; }
input.timepicker { width: 75px; border: 1px solid #999999; }
input.timepicker2 { width: 75px; border: 1px solid #999999; }
input.datepicker { width: 100px; border: 1px solid #999999; }
input.daterange { width: 100px; border: 1px solid #999999; }
input.datetimepicker,
input.datetimepicker_es { width: 140px; border: 1px solid #999999; }
input.colorpicker { width: 100px; border: 1px solid #999999; }
input.filechooser { width: 300px; border: 1px solid #999999; }

.ratingcontainer {
	float: right;
	text-align: right;
}
.rating_label {
	font-size: 11px;
}
ol li {
	margin-bottom: 10px;
}

dl.api {
}
dl.api dt {
	font-family: monospace;
	padding: 3px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	font-weight: bold;
}
dl.api dd {
	margin-left: 20px;
	margin-bottom: 30px;
}
.footnote {
	color: #999;
}
.footnote a {
	color: #777;
}
#livegrid_header th {
	background-color: #4E799B;
}
.tabpanel {
	padding: 6px;
}
